.score-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .score-bg {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  }
}
.score-button {
  background-color: #cf60c8;
  display: flex;
  align-items: center;
  color: #ffffff;
  border-width: 0;
  border-radius: 8px;
  padding: 5px;
}
.trophy-image {
  height: 200px;
}
.bt {
  display: flex;
  justify-content: center;
}
